@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body {

    background-image: linear-gradient(to left, rgba(255,255,255,0.9), rgba(255, 255, 255, 0.1) 99%), url('../imagenes/background-with-hibiscus-flower.jpg');
}
header {
    height: 180px;
    width: 100%;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
header img {
    height:175px;
    //padding:10px 20px 20px 50px;
    padding-left: 10px;
    padding-bottom: 5px;
}
nav {
    background-color: coral;
    font-family: 'Sigmar One', cursive;
    text-align: right;
}
nav li {
    display: inline-block;
    padding-right: 10px;
}
section{
    display:flex;
    flex-direction: row;
}
#articulos {
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}
article h2 {
        font-family: 'Sigmar One';
        font-size:2em;
        color:crimsom;
        text-align:center;
        padding:20px;
}
article p {
        text-align:justify;
}
article img {
        height: 400px;
        width: auto;
        padding: 20px;
        display: block;
        margin-left: auto;
        margin-right:auto;
}
aside {
        width:250px;
        height:auto;
        position: absolute;
        top: 500px;
        right: 80px;
        padding: 10px;
}
aside p { 
        border: 1px solid black;
        font-family: monospace;
        font-size: 16px;
        text-align: center;
}
footer {
    padding: 50px;
    background-color: blueviolet;
    height: 100px;
    text-align: center;
    font-family: monospace;
    font-size: 1em;
}
